<filesMatch "\.(html|htm|js|css)$">
    FileETag None

    # exista modulul headers?
    <ifModule mod_headers.c>
        Header unset ETag
        # acum anuleaza cache pe cat posibil
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </ifModule>
</filesMatch>


RewriteEngine On

RewriteRule ^([a-zA-Z0-9]*)$ index.php?id=$1 [L,NC]